.section__client {
  @media (max-width: 1200px) {
      padding-bottom: 60px;
        }
        @media (min-width: 1200px) {
    padding-bottom: 97px;
    }
}
    .client__title {
        display: flex;
        flex-wrap: wrap;
        margin-top: (-1 * 30px);
        margin-left: (-1 * 30px);
         padding: 0;
    
         margin-top: 30px;
        color: $social-icons;
        
        @media (min-width: 1200px) {
            justify-content: space-between;
            margin: 50px;
            
       }
    }
    .client__item {
        @media (min-width: 320px) {
            flex-basis: calc((100% - 60px) / 2);
            margin-top: 30px;
            margin-left: 30px;
        }
    }
    .client__link {
        color: $social-icons;
     }

    .client__wraper {
    
        display: flex;
        justify-content: center;
        align-items: center;

        width: 170px;
      height: 90px;

      border: 1px solid currentColor;
      border-radius: 4px;

      @include transition(color);
      
      &:hover,
      &:focus {
      color: $akcent-color;
      }
    }
    
    .client__icon {
        fill: currentColor;
    }
    