.section__client {
    padding-top: 60px;
    padding-bottom: 60px;
    &--title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;

        @media (min-width: 1200px) {
            margin-bottom: 50px;
        }
    }

    @media (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

}
    .client__title {
        display: flex;
        flex-wrap: wrap;
     margin-top: -30px;
     margin-left: -30px;

        color: $social-icons;
}
.client__item {
margin-top: 30px;
margin-left: 30px;
width: calc(100% / 2 - 30px);

@media (min-width: 768px) {
width: calc(100% / 3 - 30px);
}
@media (min-width: 1200px) {
    width: calc(100% / 6 - 30px);
}
}
    
    .client__link {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 210px;
        height: 90px;
        
        color: $social-icons;
      border: 1px solid currentColor;
      border-radius: 4px;

      @include transition(color);
      
      &:hover,
      &:focus {
      color: $akcent-color;
      }
    }
    
    .client__icon {
        fill: currentColor;
    }