.hero {
    max-width: 1600px;
    height: 400px;
    margin:0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
    
    background-image: linear-gradient(to right,
    $bg-hero-color, $bg-hero-color
),
url(../images/hero/hero.jpg);
background-size: contain;
background-position: center;
text-align: center; 

@media (min-width: 1200px) {
    height: 600px;
}
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
    background-image: linear-gradient(to right,
    $bg-hero-color, $bg-hero-color
),
url(../images/hero/hero@2x.jpg);
}
}

      
.hero__title {
    margin: 0 auto 30px auto;
    
    color: $hero-100pr; 
    font-weight: 900; 
     font-size: 26px; 
    line-height: 1.62; 
    min-width: 360px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
   

    @media (min-width: 1200px) {
        font-size: 44px; 
        line-height: 1.36; 
    
    }
}

.hero__button {
border-radius: 4px;
padding: 10px 32px;
border: 1px solid transparent;

color: $hero-100pr; 
background-color: $akcent-color; 

font-family: inherit; 
font-weight: 700; 
font-size: 16px; 
line-height: 1.87; 
letter-spacing: 0.06em;
align-items: center;
cursor: pointer;
min-width: 200px;
}