.btn {
    display: flex;
    justify-content: center;

    padding-top: 93px;
    padding-bottom: 34px;
padding-left: 0;
margin-top: 0;
margin-bottom: 0;
}

.btn .btn__item + .btn__item {
    margin-left: 8px;
}
.btn__title {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    border: 1px solid transparent;

    color: $title-text-color; 
    background: $primery-btn-color; 
    
    font-family: inherit; 
    font-weight: 500; 
    font-size: 16px; 
    line-height: 1.62;
    text-align: center;

    transition: background-color $animation,
    color $animation,
    box-shadow $animation;

    &:hover,
    &:focus {
        color: $hero-100pr; 
        background-color: $akcent-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}



/* container */
.title-flex {
    margin-right: auto;
   margin-left: auto;
    padding-right: 15px;
    padding-bottom: 94px;
    padding-left: 15px;
    width: 1200px;
}

.card-contents {
    padding: 20px 24px;
}

.card-contents__title {
    margin-top: 0;
    margin-bottom: 4px;
    width: 322px;

    color: $title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.card-contents__text {
    margin-top: 4;
    margin-bottom: 0;
}
.card {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: calc(-1 * 30px);
    margin-bottom: 0;
    margin-left: calc(-1.5 * 30px);
}
.card__grid{
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    background-color: $hero-100pr;
    border: 1px solid #EEEEEE;
    
    transition: box-shadow $animation,
    border-radius $animation;

    &:hover {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
}

/* overlay-portfolio */
.card__thumb {
    position: relative;
    overflow: hidden;
}

.card__overlay {
    position: absolute;
   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;  
background-color: $card-bg-color;

transform: translateY(100%);
@include transition(transform);

}

.card__set:hover .card__overlay {
    transform: translateX(0); 
}
.card__text {
    position: absolute;
    width: 322px;
    height: 168px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    

font-weight: 400;
font-size: 18px;
line-height: 1.56;

color: $hero-100pr;

opacity: 0;
@include transition(opacity);
}

.card__set:hover .card__text,
.card__set:focus .card__text {
    opacity: 1;
}