body { 
    color: $primary-text-color; 
    font-family: Roboto, sans-serif; 
    letter-spacing: 0.03em;
  }

  
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  
    .problems {
    
    }
    .problems-container {
    padding-right: 20px;
    padding-left: 20px;
    }
    
    .problems__title {
        background-color: rgba(17, 21, 24, 1);
        color: #fff;
     @media (min-width: 320px) {
         height: 520px;
         padding-top: 370px;
            padding-bottom: 47px;
     }
     @media (min-width: 768px) {
        height: 340px;
     }
    &--color {
        color: rgba(255, 107, 9, 1);
    }}
    
    .problems__list {
        counter-reset: section; 
        list-style-type: none;
    }
    .problems__text::before {
        counter-increment: section;
        content: '— ' counter(section, decimal-leading-zero) ' ';
      
    }
    @media (min-width: 480px)  {
    max-width: 480px;
    }
  
    @media (min-width: 768px) {
      max-width: 768px;
    }
   
    @media (min-width: 1200px) {
    max-width: 1200px;

  }
    }
  
  .visually-hidden { 
    position: absolute;
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;
  }

  /* анульовання */
    
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }

img {
    display: block;
    max-width: 100%;
    height: auto;
}
