.footer {
    background: $backgraund;

    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
}

.footer__container {
    padding-top: 60px;
    padding-bottom: 60px;

    @media (max-width: 1200px) {
        text-align: center;
    }
    @media (min-width: 768px) and (max-width: 1200px) {
        padding-top: 0;
    }
    @media (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    
}
}
.footer__information {
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    align-items: baseline;
    }
}
// .footer__nav {
//     @media (min-width: 768px) {
//         margin-right: 195px;
//     }
//     @media (max-width: 1199px) {
//         margin-right: 0;
//     }
// }
.address {    
    padding-left: 0;
    max-width: 232px;
    
    font-style: normal;
    font-weight: normal; 
    font-size: 14px; 
    line-height: 1.71;
    
    
    @media (max-width: 767px) {
        margin: 20px auto;
    }

    @media (min-width: 768px) {
        margin-bottom: 0;
       
    }

}
 
.address__item {
    display: inline-block;
    flex-wrap: wrap;
    margin-top: 9px;
    @include transition (color)

    &:hover .address__link,
    &:focus .address__link {
    color: $hero-100pr;
}
}

.address__links {
    color: $hero-100pr;
}

.address__link {
    color: $white-footer-60pr;
    @include transition(color);
}


.footer-social__title {
    display: block;
    font-style: normal;
  font-weight: 700;
  margin-bottom: 20px;
    padding-left: 0;
    font-size: 14px;
    line-height: 1.14;

    color: $hero-100pr;
text-transform: uppercase;

@media (max-width: 1200px) {
margin-top: 60px;
}
}

.footer-social {
    max-width: 206px;
    height: 80px;

    @media (max-width: 767px) {
    display: block;
    margin-right: auto;
    margin-left: auto;
    }

    @media (min-width: 1200px) {
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
  margin: 12px 93px 40px 70px;
}
}

/* footer e-mail */
.footer-form__subscribe {
    display: block;
    @media (min-width: 1200px) {
    display: flex;
}
}

.form-title {
    font-style: normal;
  font-weight: 700;
  margin-bottom: 20px;
    padding-left: 0;
    font-size: 14px;
    line-height: 1.14;
    color: $hero-100pr;
   text-transform: uppercase;
}

 
.footer-form__email {
    height: 50px;
    outline: none;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    line-height: 20px;
    
    font-family: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: $hero-100pr;
    
    @include transition(border-color);    
    
    &:focus,
    &:hover {
        border-color: $modal-bg-btn;
    }
        @media (max-width: 1199px) {
            margin-right: auto;
            margin-left: auto;
            width: 450px;   
        }
        @media (min-width: 1200px) {
            width: 358px;
            
        }
}
 
// buttom

.footer-form__button {
    width: 200px;
    height: 50px;
    position: relative;
    padding: 10px 62px 10px 29px;
   
    font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
border-radius: 4px;
align-items: center;
border: 1px solid transparent;

color: $hero-100pr;
background-color: $akcent-color;

box-shadow: $shadow-button;
cursor: pointer;

@include transition(background-color);
@media (max-width: 1199px) {
    display: block;
    margin-top: 20px;
   margin-right: auto;
   margin-left: auto;
}

@media (min-width: 1200px) {
display: flex;
margin-left: 12px;
}

&:focus,
&:hover {
    background-color: $modal-bg-btn 
}
}

.footer-form__send {
    @include vertically-centered;
    right: 28px;
    fill: $hero-100pr;
}